/** @format */

.no-scroll-body {
    overflow: hidden;
}

.region-select {
    position: fixed;
    inset: 0;
    z-index: -1;
    font-size: 16px;
    color: #333;
    visibility: hidden;
    opacity: 0;

    &.show {
        z-index: 10000;
        visibility: visible;
        opacity: 1;
    }

    --primary-color: #409eff;

    .region-mask {
        position: absolute;
        inset: 0;
        background: rgba($color: #000, $alpha: .5);
        opacity: 0;
        transition: .3s;

        &.show {
            opacity: 1;
        }
    }

    .region-content {
        position: absolute;
        top: 20vh;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: flex;
        flex-flow: column;
        background: #fff;
        border-radius: 10px 10px 0 0;
        transition: .3s;
        transform: translateY(100%);

        &.show {
            transform: translateY(0);
        }
    }

    .region-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        border-bottom: 1px solid #ddd;
    }

    .region-title {
        font-weight: 700;
    }

    .region-btn {
        width: 60px;
        text-align: center;

        &.cancel-btn {
            color: #999;
        }

        &.confirm-btn {
            color: var(--primary-color);
        }
    }

    .region-body {
        display: flex;
        flex: 1;
        overflow: auto;
    }

    .region-column {
        display: flex;
        flex: 1;
        flex-flow: column;
        height: 100%;
        overflow: auto;
    }

    .region-item {
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        height: 40px;
        text-align: center;

        &.active {
            color: var(--primary-color);
        }
    }
}
